<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="petCat" class="_01_spring_introduction.lesson001_013.Cat"></bean>
    <bean id="petDog" class="_01_spring_introduction.lesson001_013.Dog"></bean>
    <bean id="petDuck" class="_01_spring_introduction.lesson001_013.Duck"></bean>
    <bean id="petElephant" class="_01_spring_introduction.lesson001_013.Elephant"></bean>
    <bean id="petFrog" class="_01_spring_introduction.lesson001_013.Frog"></bean>
    <bean id="petGiraffe" class="_01_spring_introduction.lesson001_013.Giraffe"></bean>
    <bean id="petHorse" class="_01_spring_introduction.lesson001_013.Horse"></bean>

    <bean id="somePerson" class="_01_spring_introduction.lesson001_013.Person2">
        <property name="pet" ref="petDog"/>
    </bean>
</beans>