<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="petHorse" class="spring_introduction.lesson001_013.Horse"></bean>

    <bean id="personOleg" class="spring_introduction.lesson001_013.Person3">
        <property name="pet" ref="petHorse"/>
        <property name="name" value="Oleg"/>
        <property name="surName" value="Chumin"/>
        <property name="age" value="47"/>

    </bean>
</beans>