<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="petCat" class="spring_introduction.lessons001_013.Cat"/>
    <bean id="petDog" class="spring_introduction.lessons001_013.Dog"/>
    <bean id="petDuck" class="spring_introduction.lessons001_013.Duck"/>
    <bean id="petElephant" class="spring_introduction.lessons001_013.Elephant"/>
    <bean id="petFrog" class="spring_introduction.lessons001_013.Frog"/>
    <bean id="petGiraffe" class="spring_introduction.lessons001_013.Giraffe"/>
    <bean id="petHorse" class="spring_introduction.lessons001_013.Horse"></bean>

    <bean id="somePerson" class="spring_introduction.lessons001_013.Person">
        <constructor-arg ref="petDuck"></constructor-arg>
    </bean>
</beans>