<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="petCat" class="spring_to_remember.lesson_04.models.Cat"/>
    <bean id="petDog" class="spring_to_remember.lesson_04.models.Dog"/>
<!--    <bean id="pet" class="spring_to_remember.lesson_04.models.Pet"/> можно abstract class, нельзя interface -->
    <bean id="personOlaf" class="spring_to_remember.lesson_04.service.Person">
        <property name="pet" ref="petDog"/>
        <property name="name" value="Olaf"/>
        <property name="surName" value="Haendler"/>
        <property name="age" value="25"/>
    </bean>
</beans>